<%- include('header.ejs') %>
<h2>About</h2>
<br>
<hr style="height: 10px; margin-left: 80px; margin-right: 80px;">
<h4>Pastebin is a type of online content-hosting service where users can store plain text.</h4>
<br>
<hr style="margin-left: 80px; margin-right: 80px;">
</body>
</html>