nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: rgb(231, 231, 231);
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: rgb(0, 0, 0);
}

li a.active {
    color: white;
    background-color: #04AA6D;
}

h3 {
    position: relative;
    left: 80px;
    top: 20px;
}

h2 {
    position: relative;
    left: 80px;
    top: 20px;
}

h4 {
    position: relative;
    left: 80px;
    top: 20px;
}

.container {
    right: 5%;
    top: 20px;
    position: relative;
    border-radius: 1%;
    background-color: #F3F3F3;
}

tbody {
    background-color: #F3F3F3;
}